*{
    font-family: Helvetica, sans-serif;
}
body{
    margin: 0;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(10, 146, 172);
    border-bottom: 1px solid black;
}

.contenedorLogo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorLogo img{
    width: 50%;
}

.mainLogin{
    width: 100%;
    margin: 48px 0 48px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formLogin{
    padding: 50px 0 50px 0;
    width: 80%;
    border: solid 2px gray;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formLogin input{
    width: 60%;
    margin: 10px;
}

header h1{
    font-size: 10vh;
    color: black;
    margin: 40px;
    padding: 2px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: white;
}
.contenedorPrincipal{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.contenedorBotones{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 50px 0;
}
.boton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: 20px 0;
    border: white solid 1.5px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 2px 8px 15px;
    background-color: rgb(7, 84, 114);
    font-size: 4vh;
    text-decoration: none;
    color: white;
    padding: 20px 40px;
}
.boton:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.contenedorInfo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid black;
    background-color: rgb(7, 84, 114);
}
.contenedorInfo-texto{
    padding-left: 18px;
    margin: 8%;
    color: white;
}
.contenedorInfo-texto h4{
    margin-bottom: 40px;
}
.contenedorInfo-texto p{
    margin-left: 20px;
}




footer{
    background-color: rgb(10, 146, 172);
    border-top: 1px solid black;
    display: flex;
    flex-direction: row;
}
.contenedorInfoFooter{
    margin: 30px;
    margin-left: 40px;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-content: center;
    align-items: center;
}
.contenedorInfoFooter p{
    position: absolute;
    opacity: 0;
    margin-right: 20px;
    vertical-align: bottom;
    color: white;
}
.contenedorSpotify{
    display: flex;
    align-items: center;
    align-content: center;
}
.contenedorTwitter{
    display: flex;
    align-items: center;
}
.contenedorSpotify i{
    color: rgb(30,215,96);
    font-size: 300%;
    margin-right: 10px;
    -webkit-text-stroke: white 2px solid;
}
.contenedorTwitter i{
    color: rgb(29,161,242);
    font-size: 300%;
    -webkit-text-stroke: white 2px solid;
}
.contenedorSpotify i:hover{
    color: rgba(30, 215, 95, 0.6);
}
.contenedorTwitter i:hover{
    color: rgba(29, 160, 242, 0.6);
}
.contenedorFotoEsi{
    width: 30%;
    display: flex;
    justify-content: end;
}
.contenedorFotoEsi img{
    object-fit: contain;
    width: 60%;
    margin: 20px;
    margin-right: 20px;
    margin-left: 0;

}
.contenedorFotoEsi img:hover{
    width: 40%;
    margin: 20px;
    margin-right: 20px;
    opacity: 0.6;
}



/*-----------------------------------------------------------------------------ANALIZAR ARTISTAS*/


.boton-inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 35px;
    border: white solid 1.5px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgb(7, 84, 114);
    font-size: 15px;
    text-decoration: none;
    color: white;
    padding: 10px 0;
}
.boton-inicio:hover {
    transform: scale(1.02);
    cursor: pointer;
}
.contenedorFormCancion{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.formCancion{
    width: 80%;
    margin: 20px 50px 50px 50px;
    display: flex;
    flex-direction: column;
}
.formCancion input{
    width: 100%;
    margin: 10px 0;
}
.resultados{
    font-weight: bold;
    font-size: 4vh;
}
.contenedorTwit{
    padding: 5px 10px;
    background-color: white;
    color: black;
    border: 3px solid black;
    margin: 15px 8px 15px 0;
    border-radius: 10px;
}

/*------------------------------------------------------------------------DIAGRAMA DE QUESITOS*/

.contenedorInfo-quesito{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 40px;
}

#my-pie-chart {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}

.verde{
    color: rgb(254, 192, 66);
}
.rojo{
    color: rgb(10, 146, 172);
}
.alertText{
    color: rgb(244, 0, 0);
    font-size: 1vw;
    margin: 15px;
}